# MySQL with Python

In [2]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.0.0-cp39-cp39-win_amd64.whl (14.3 MB)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.0.0
Note: you may need to restart the kernel to use updated packages.

In [1]:
# Import Library
import mysql.connector as sql

## Create Connection

In [2]:
# Create connection

connection = sql.connect(
host = "127.0.0.1",
user = "root",
password = "Ckt@2002")

print(connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001704D1A5BE0>

In [3]:
curser = connection.cursor()

curser.execute("SHOW DATABASES")

In [4]:
for database in curser:
    print(database)

('dbms',)
('imp',)
('information_schema',)
('mydb',)
('mysql',)
('performance_schema',)
('student_info',)
('sys',)
('userdb',)

In [5]:
curser.execute("CREATE DATABASE py")

In [ ]:
curser.execute("DROP TABLE studentinfo")

In [7]:
curser.execute("DROP DATABASE py")

In [6]:
curser.execute("SHOW DATABASES")

for database in curser:
    print(database)

('dbms',)
('imp',)
('information_schema',)
('mydb',)
('mysql',)
('performance_schema',)
('py',)
('student_info',)
('sys',)
('userdb',)

In [7]:
curser.execute("use py")

## Create Table

In [8]:
curser.execute("CREATE TABLE studentinfo(\
              id Int AUTO_INCREMENT PRIMARY KEY,\
              name VARCHAR(255),\
              subject VARCHAR(255))")

## Insert Records into Table

In [9]:
query = "INSERT INTO studentinfo (name, subject) VALUES (%s, %s)"
values = [("Chaitanya", "Data Science"),
         ("Yuva", "MLOps"),
         ("Jayesh", "Web Development"),
         ("Prashant", "Data Science"),
          ("Rajnikant", "Data Analytics"), 
         ("Abc", "Cyber Security")]

curser.executemany(query, values)

print("Rows Inserted", curser.lastrowid)

Rows Inserted 1

## Show Records

In [12]:
curser.execute("SELECT * FROM studentinfo")

In [11]:
# fetch all records
curser.fetchall()

[(1, 'Chaitanya', 'Data Science'),
 (2, 'Yuva', 'MLOps'),
 (3, 'Jayesh', 'Web Development'),
 (4, 'Prashant', 'Data Science'),
 (5, 'Rajnikant', 'Data Analytics'),
 (6, 'Abc', 'Cyber Security')]

In [13]:
lst = curser.fetchall()

In [14]:
for records in lst:
    print(records)

(1, 'Chaitanya', 'Data Science')
(2, 'Yuva', 'MLOps')
(3, 'Jayesh', 'Web Development')
(4, 'Prashant', 'Data Science')
(5, 'Rajnikant', 'Data Analytics')
(6, 'Abc', 'Cyber Security')

In [17]:
# Fetch one record at a time
#curser.fetchone()

(1, 'Chaitanya', 'Data Science')

## Show Particular Records

In [15]:
curser.execute("SELECT * FROM studentinfo WHERE subject='Data Science'")
curser.fetchall()

[(1, 'Chaitanya', 'Data Science'), (4, 'Prashant', 'Data Science')]

In [16]:
curser.execute("SELECT name FROM studentinfo WHERE subject='MLOps'")
curser.fetchall()

[('Yuva',)]

In [17]:
# Select Distinct Subjects
curser.execute("SELECT DISTINCT subject FROM studentinfo")
curser.fetchall()

[('Data Science',),
 ('MLOps',),
 ('Web Development',),
 ('Data Analytics',),
 ('Cyber Security',)]

In [18]:
curser.execute("SELECT name,subject FROM studentinfo WHERE name='Jayesh' OR subject='Data Science'")
curser.fetchall()

[('Chaitanya', 'Data Science'),
 ('Jayesh', 'Web Development'),
 ('Prashant', 'Data Science')]

## Drop Table & Database

In [21]:
# Drop table
curser.execute("DROP TABLE studentinfo")

In [22]:
curser.execute("SHOW TABLES")

In [23]:
for table in curser:
    print(table)

In [24]:
curser.execute("DROP DATABASE py")

In [25]:
curser.execute("SHOW DATABASES")

In [26]:
for database in curser:
    print(database)

('dbms',)
('imp',)
('information_schema',)
('mydb',)
('mysql',)
('performance_schema',)
('student_info',)
('sys',)
('userdb',)